discord.py
setuptools
motor[srv]

python-dotenv
pytz

beautifulsoup4

aiohttp

pandas
numpy<2.0.0
matplotlib

PyPDF2==3.0.1
pdfplumber==0.11.5
paddlex @ git+https://github.com/PaddlePaddle/PaddleX.git@a8ec0bdec40d4108859ebda48e079d2fdcfb5b82
paddlepaddle==3.1.0
paddleocr==3.1.0
pillow